*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    color: white;

}
.container{
    margin: 20px;
    position: relative;
}
.box{
    width: 200px;
    height: 100px;
    background-color: blanchedalmond;
    animation-name: moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    border-radius: 50px;
}
@keyframes moving {
    0% {
    background-color: red;
    top: 10px;
    left: 10px;
  }
  25% {
    background-color: yellow;
    top: 10px;
    left: 800px;
  }
  50% {
    background-color: orange;
    top: 500px;
    left: 800px;
  }
  75% {
    background-color: green;
    top: 500px;
    left: 10px;
  }
  100% {
    background-color: red;
    top: 10px;
    left: 10px;
  }
   
}
.button{
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: yellowgreen;
}
button:hover{
    color: rgb(48, 14, 236);
}