*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 400px;
    width: 400px;
    background-color: red;
}
.First{
    background-color: rgb(187, 16, 16);
}
.Second{
    background-color: rgb(139, 156, 125);
}
.Third{
    background-color: rgb(168, 120, 120);
}
.Four{
    background-color: rgb(224, 223, 223);

}